@charset "UTF-8";
/*!
 * Bookingfor v7 (http://www.bookingfor.com)
 * Copyright Ipertrade Srl.
 */
@font-face {
  font-family: 'bfi-icomoon';
  src: url("../fonts/icomoon.eot?q5nzpo");
  src: url("../fonts/icomoon.eot?q5nzpo#iefix") format("embedded-opentype"), url("../fonts/icomoon.ttf?q5nzpo") format("truetype"), url("../fonts/icomoon.woff?q5nzpo") format("woff"), url("../fonts/icomoon.svg?q5nzpo#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}
